# Python-related files
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/

# Virtual environments
venv/
env/

# Environment variables
*.env

# Flask cache
instance/
*.db

# IDE files (optional, depending on your editor)
.vscode/
.idea/
